.navigation {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 16px;
}

.nav__button {
  color: white;
  font-size: 18px;
  line-height: 25px;
  
  &:hover {
    color: $primaryActive;
    transition: 0.5s;
  }
}