html,
body{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;          /* у body по умолчанию отступы 8px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $defaultBack; 
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

// .container{
//   position: relative;
//   margin: 0 auto;
//   max-width: 1100px;
//   width: 100%;
//   height: 100%;
// }

.container{
  height: 100vh;
  min-height: rem(650px);
  position: relative;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button{
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color: $primaryActive;
    transition: 0.5s;
  }
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select {
  appearance: none;
}
